<form [formGroup]="bookForm" (ngSubmit)="submitForm()">

  <div class="form-group">
    <label for="isbn">ISBN</label>
    <input formControlName="isbn" type="text" class="form-control" id="isbn">
    <div class="feedback-red" *ngIf="isInvalid('isbn')">ISBN ist ungültig</div>
    <div class="feedback-red" *ngIf="hasError('isbn', 'required')">Bitte geben Sie eine ISBN an</div>
    <div class="feedback-red" *ngIf="hasError('isbn', 'minlength')">Bitte geben Sie mindestens 3 Zeichen an</div>
  </div>

  <div class="form-group">
    <label for="title">Title</label>
    <input formControlName="title" type="text" class="form-control" id="title">
    <div class="feedback-red" *ngIf="isInvalid('title')">Title ist ungültig</div>
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea formControlName="description" type="text" class="form-control" id="description">
        <div class="feedback-red" *ngIf="isInvalid('description')">Description ist ungültig</div>
    </textarea>
  </div>

  <div class="form-group">
    <!-- beim Button immer den Type angeben, da der erste Button ansonsten immer ein SubmitButton ist -->
    <button [disabled]="bookForm.invalid" type="submit" class="btn btn-danger">Create</button>
  </div>

</form>
